/* Add your styles here */
.app-container {
  width: 80%;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-container {
  position: relative;
}

.search-container input[type="text"] {
  border-radius: 20px;
  padding: 10px;
  outline: none;
  border: 1px solid black;
  font-size: 16px;
  transition: border-colour 0.3s ease;
}

.search-container input[type="text"]:focus {
  border-color: #007bff;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.recipe-list .recipe-card {
  max-width: 300px;
}
