.large-recipe-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
  border-radius: 10px;
}

.large-recipe-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.large-recipe-card p {
  font-size: 16px;
  margin-bottom: 8px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #aaa;
  font-size: 24px;
}

.close-button:focus {
  outline: none;
}

.close-button:hover {
  color: #ff4d4d;
}

.favourite-button {
  position: absolute;
  top: 8px;
  left: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

.large-recipe-card .favourite-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.large-recipe-card .favourite-button:hover {
  opacity: 0.8;
}
