.recipe-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.recipe-icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  transform: scale(2.5);
}

.recipe-details {
  display: inline-block;
  vertical-align: top;
}
