.recipe-card {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.recipe-details {
  position: relative;
}

.heart-button {
  position: absolute;
  top: -30px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
}
